@import "./resets";
@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $accent-color;
  font-weight: weight(regular);
  font-size: 32px;
  height: 60px;
}

#logo {
  margin-left: 50px;
}

#img {
  margin-right: 50px;
}

.navItem {
  display: inline-block;
  margin: 0px 20px;
  &:hover {
    color: grey;
  }
}

body {
  background: $primary-color;
  color: $text-color;
  nav {
    font-size: 24px;
  }
}

.main {
  @include flexCenter(column);
  width: 80% - 15%;
  margin: 0 auto;

  #{&}_paragraph1 {
    font-weight: weight(regular);
    font-size: 32px;
    margin: 32px 0px;

    &:hover {
      color: pink;
    }
  }

  #{&}_paragraph2 {
    @extend .main_paragraph1;

    &:hover {
      color: $accent-color;
    }
  }

  #{&}_paragraph3 {
    @extend .main_paragraph1;

    &:hover {
      color: orangered;
    }
  }

  @include mobile {
    justify-content: space-between;
  }
}

.light {
  @include theme($light-theme: true);
}
